.top{
    color:black ;
    border-radius: 10px;
    /* border:1px solid #ccc; */
    box-shadow: 5px 5px 5px 15px rgb(221, 242, 242);
} 
 .top a:hover{
    color:orangered;
    /* margin:10px 20px; */
    /* border-bottom: 2px solid orangered; */
} 

  .active{
    color:greenyellow;
}