.hero{
    margin:0;
    /* text-align: center; */
     /* display: flex; */
     margin-top:0;
     /* flex-direction: column; */
     padding:0;
     background-image: url(../../../assets/images/online-education.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     height: 70vh;
    /* margin-top:-50px;
    /* height:500px; */
    /* padding:120px; */
    /* background-image: linear-gradient(30deg,black, rgb(0, 0, 0));  */
}
.hero-info{
    background-color: rgba(31, 57, 114, 0.467);
}
.courseContainer{
    margin:20px 100px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px;
}

.search-con{
    width:50%;
    
   }


@media only screen and (max-width: 600px) {
   .search-con{
    width:100%;
   }
    
    .courseContainer{
        
        grid-template-columns: repeat(1,1fr);
        padding:0 40px;
        /* gap:20px; */
    }
  }